body 
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #212121;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #fdfdfd;
}

btitle
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    border: 0;
}

bsubtitle
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b 
{
    color: #eee;
}
a 
{
    color: #ddd;
}

.button
{
    background-color: #fdfdfd; /* Green */
    border: none;
    color: #212121;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}