@import url('https://fonts.googleapis.com/css2?family=Coda:wght@800&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda:wght@800&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda:wght@800&family=Roboto:wght@400;500;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: 64px;
    max-width: 820px;
    text-align: left;
    background-color: #191A1A;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #CECDCD;

    font-size: 20px;
}


.btitle {
    color: #FEFDFD;

    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.bsubtitle {
    color: #FDFCFC;
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-style: italic;
    margin-bottom: 20px;
    font-size: 25;
}

.chapter {
    color: #FDFCFC;

    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-style: italic;
    font-size: 10;
    text-align: center;
    padding: 20px;
    color: #f2f2f2d3;
}

.author {
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    font-size: 10;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,

b {
    color: #F2F2F2;
}

a {
    color: #e7e7e7;
    /*color: #ff5e6c;*/
}

u {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.title {
    text-decoration: none;
    border: 0;
}

.title h1 {
    font-size: 1.5em;
}

.title span {
    font-weight: 400;
}

.bear::before {
    content: "ᕦʕ •ᴥ•ʔᕤ";
    font-weight: 400;
}
.bear:hover::before {
    content: "ᕙʕ ಠᴥಠʔᕗ";
    font-weight: 400;
}

nav a {
    margin-right: 10px;
}

textarea,
input:not([type="submit"]) {
    background-color: inherit;
    color: inherit;
    border: 1px dashed;
    padding: 5px;
    font-size: 16px;
}

.full-width textarea,
.full-width input:not([type="submit"], [type="checkbox"]) {
    width: 100%;
}

.inline {
    width: auto !important;
}

textarea:required,
input:required:not([type="submit"]){
    border: 1px solid;
}


content {
    line-height: 1.6;
}

table {
    width: 100%;
}

img {
    max-width: 80%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding: 10px;
}

code {
    font-family: monospace;
    padding: 2px;
    background-color: #f2f2f2;
    color: #222;
    border-radius: 3px;
}

.highlight,
.code {
    padding: 1px 15px;
    background-color: #f2f2f2;
    color: #222;
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
}

footer {
    padding: 25px;
    text-align: center;
}

.helptext {
    color: #777;
    font-size: small;
}

.errorlist {
    color: #eba613;
    font-size: small;
}

#id_favicon {
    width: 20px;
    text-align: center;
}

#date-range,
#initial-values,
#import-contacts {
    display: none;
}

#date-range:target,
#initial-values:target,
#import-contacts:target {
    display: block;
}

/* dashboard post list and analytics */
ul.post-list {
    list-style-type: none;
    padding: unset;
}

ul.post-list li {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px dashed;
}

ul.post-list li span {
    flex: 0 0 130px;
}

ul.post-list li span.number {
    flex: 0 0 50px;
}

ul.post-list li a {
    flex: max-content;
}

ul.post-list li small {
    text-align: right;
    flex: 0 0 115px;
}

/* blog posts */
ul.blog-posts {
    list-style-type: none;
    padding: unset;
}

ul.blog-posts li {
    display: flex;
}

ul.blog-posts li span {
    flex: 0 0 130px;
}

ul.blog-posts li a:visited {
  color: #8b6fcb;
}

/* discovery feed */
ul.discover-posts {
    list-style-type: none;
    padding: unset;
}

ul.discover-posts li {
    display: flex;
    line-height: 1.2;
}

ul.discover-posts li span {
    flex: 0 0 40px;
}

ul.discover-posts li a:visited {
  color: #8b6fcb;
}

ul.discover-posts li div {
    padding-bottom: 8px;
}

ul.discover-posts li small {
    color: #777 !important;
}

ul.discover-posts li small a {
    color: #777 !important;
}