<!DOCTYPE html>

<html>
    <head>
        <title> Title - Author </title>

        <link rel="stylesheet" href="../../style.css">
    </head>

    <body>
        <div class="btitle">
            Book Title
        </div>

        <div class="bsubtitle">
            Book Subtitle
        </div>
        
        <div class="author">
            AUTHOR
        </div>

        <hr size="6" width="100%" color=#323232>

        <div class= "container">
            <p>
                text
            </p>

            <div class="email">
                amndrkwe@gmail.com
            </div>
        </div>
    </body>
</html>